/* ====================
    GERAL
   ====================*/

html {
  font-size: calc(15px + 0.390625vw);
}

body {
  background: white;
  color: #21243d;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

section {
  padding: 15px;
}

p {
  line-height: 130%;
}

a {
  text-decoration: none;
  color: #21243d;
}

a:hover {
  color: #ff6464;
}

section h2 {
  text-align: center;
}

img {
  max-width: 100%;
}

/* ====================
    ESPECÍFICO
   ====================*/

/* ====================
    HEADER e FOOTER
   ====================*/

header ul li {
  text-align: center;
  padding: 10px 0 10px 0;
}

footer {
  text-align: center;
  margin: 0 0 25px 0;
}

footer a {
  font-size: 2.3rem;
  margin: 10px 15px;
}

/* ====================
    INDEX
   ====================*/

section.banner {
  text-align: center;
}

section.banner img {
  border-radius: 100%;
  max-width: 55%;
  box-shadow: -10px 10px #edf7fa;
  margin: 20px 0;
}

section.banner h1 {
  font-weight: bold;
  font-size: 2rem;
  margin: 10px 0 10px 0;
}

section.banner p button {
  transition: 0.15s;
  background-color: #ff6464;
  border: none;
  color: white;
  border-radius: 2px;
  display: inline-block;
  margin: 10px 0 50px;
  font-size: 1.1rem;
  padding: 10px 20px;
}

/* section.banner p button:hover {
  cursor: pointer;
  background-color: #142850;
} */

section.posts {
  background-color: #edf7fa;
}

section.posts li {
  margin: 15px 0;
  background-color: white;
  padding: 15px;
  border-radius: 4px;
}

section.posts li h3 {
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 130%;
}

section.posts li p {
  margin: 20px 0 0 0;
}

section.works {
  padding: 20px 10px 20px 10px;
}

section.works ul li {
  margin: 15px 0;
}

section.works ul li h3 {
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 130%;
  margin: 15px 0 0 0;
}

section.works ul li p {
  margin: 15px 0;
}

section.works ul li p.info {
  color: #8695a4;
}

section.works ul li p.info span {
  color: white;
  background-color: #142850;
  font-weight: bold;
  padding: 3px 10px;
  border-radius: 20px;
}

section.works ul {
  border-bottom: 1px solid #8695a4;
}

/* ====================
    WORKS
   ====================*/

section.dashb {
  padding: 15px;
}

section.dashb h1 {
  font-size: 2rem;
  margin: 20px 0;
}

section.dashb h2 {
  font-size: 1.7rem;
  text-align: left;
  margin: 20px 0;
  font-weight: bold;
}

section.dashb p {
  margin: 15px 0;
}

section.dashb p.info {
  color: #8695a4;
}

section.dashb div {
  display: inline-block;
}
section.dashb div.info {
  width: 70%;
}

section.dashb div span {
  color: white;
  background-color: #ff6464;
  font-weight: bold;
  padding: 3px 10px;
  border-radius: 20px;
  margin: 10px 10px 10px 0;
}

section.carro h2 {
  text-align: left;
  font-size: 1.5rem;
  margin: 0 0 15px 0;
}

section.carro h3 {
  text-align: left;
  font-size: 1.1rem;
  margin: 0 0 15px 0;
}

section.carro img {
  margin: 20px 0;
}

/* ====================
    COMPUTADOR
   ====================*/

@media (min-width: 900px) {
  section {
    padding: 3% 12%;
  }

  header ul {
    display: flex;
    justify-content: right;
    padding: 0 20px;
  }
  header ul li {
    margin: 20px;
  }

  section.banner img {
    max-width: 100%;
  }
  section.banner {
    display: flex;
    flex-direction: row-reverse;
    text-align: left;
  }
  .banner .texto {
    margin: 0 7vw 0 0;
  }

  section h2 {
    text-align: left;
    font-size: 1.4rem;
    padding: 10px 0;
  }

  /* ====================
    POSTS
   ====================*/

  section.posts ul {
    display: flex;
    justify-content: space-between;
  }

  section.posts ul li {
    padding: 2%;
    width: 45%;
  }

  .espaco {
    padding: 2% 0;
  }

  /* ====================
    WORKS
   ====================*/

  section.works {
    padding: 3% 12%;
  }

  section.works ul {
    display: flex;
    justify-content: space-between;
  }

  section.works ul li {
    width: 45%;
    height: 100%;
  }

  section.works ul {
    border-bottom: none;
  }
}
